*,
*::before,
**:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-content {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}

.items-block {
  width: 60%;
  padding: 20px;
  border: solid 1px black;
}

.details-block {
  width: 32%;
  padding: 20px;
  border: solid 1px black;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  margin: 10px 0;
  width: 45%;
  border: solid 1px white;
  padding: 12px;
}

.item:active {
  background: #d1d1d1;
}

.item:hover {
  border-color: black;
}

.item-name {
  margin: 0;
}

.item-price {
  display: block;
  font-style: italic;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.detail-name, .detail-price, .detail-count {
  margin: 0;
}

.detail-remove {
  background: red;
  outline: none;
  border: none;
  color: white;
}

.detail-remove:active {
  background: darkred;
}